extends ../layouts/default

block main
  h1 Articles

block content
  p=articles
  each article in articles
    .article
      a(href="/articles/"+article._id)=article._id
      p=article



  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
